PORT=3000
DATABASE_URL=postgres://user:password@localhost:5432/xtender
REDIS_URL=redis://localhost:6379
SMS_API_KEY=
SMS_SENDER_ID=
DOMAIN=localhost:3000
TELEGRAM_BOT_TOKEN=
TELEGRAM_MODERATOR_CHAT_ID=
